.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main {
  position: relative;
}
.title {
  width: 300px;
  text-align: center;
  border: 2px solid white;
  color: white;
  position: absolute;
  z-index: 2;
}
.carousel_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100vh;
}

.color__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 33, 0.62);
  /* background-color: rgba(51, 59, 133, 0.62); */
  height: inherit;
  /*height: 100vh;*/
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.menu__items__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  left: 70px;
  position: relative;
  top: 35px;
  z-index: 2;
}

.item__inner {
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.44);
  box-shadow: 10px 10px 5px rgba(214, 214, 214, 0.15);
  border-radius: 4px;
  position: relative;
}

.item__title {
  text-align: center;
  padding-top: 50px;
}

.mein__menu {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap;
    width: 100%; */
  justify-content: space-around;
}
.news_title {
  cursor: pointer;
}
.title__container {
  padding: 20px 0;
  color: #333b85;
  text-align: center;
  border-bottom: 2px solid #333b85;
}
.title__container1 {
  padding: 20px 0;
  color: #333b85;
  text-align: center;
}

.content__container {
  display: flex;
  justify-content: space-around;
}

.partners {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.right__wrapper {
  width: 60%;
}

.item_wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 50px 0;
}
.sm__news {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.qwe {
  padding-top: 40px;
}

.section {
  margin-top: 85px;
}

.section h3 {
  text-align: center;
  font-size: 2rem;
  background: rgba(240, 240, 240, 0.632);
  font-weight: 300;
  padding: 20px 0;
}
.section__title {
  margin-bottom: 20px;
  color: black;
}
.advantages__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 1800px) {
  .item_wrapper {
    padding: 0;
  }
}
@media (max-width: 900px) {
  .content__container {
    display: flex;
    flex-direction: column;
  }
  .news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .events {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .carousel_container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main__wrapper {
    display: flex;
    flex-direction: column;
  }

  .mein__menu {
    display: none;
  }

  .right__wrapper {
    position: absolute;
    top: 0;
  }

  .image__wrapper,
  .right__wrapper {
    width: 100%;
  }
}
